/* ============== Status Bar ============== */
.status-bar {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  transform: translate(-10px, -6px);
  --status-bar-radius: 10px;
  --status-bar-border-width: 1px 1px 0 1px;
  background: var(--background-secondary);
}

/*  =============== Vault Profile =============== */

body:not(.is-phone)
  .workspace-split.mod-left-split
  .workspace-sidedock-vault-profile {
  border-radius: 10px;
  border: solid 1px var(--background-modifier-border);
  padding: 5px;
  margin: 0px 0px 5px 0px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  font-family: var(--font-interface-theme);
  align-self: center; /* Center the element in the flex container */
  width: calc(100% - 15px);
}
