/* -------------------
 * Compact mode. Heavily inspired by @replete's Ultra Compact Minial snippets: 
 * https://github.com/replete/obsidian-minimal-theme-css-snippets
 * Support @replete - https://buymeacoffee.com/replete 
 * ------------------- */
body.theme-compact,
body.theme-ultra-compact {
  --tab-stacked-header-width: 40px; /* Keep normal width in stacked mode */
  --header-height: 33px;
  --theme-compact-gap: 3px;

  &.theme-ultra-compact {
    --header-height: 28px;
    --theme-compact-gap: 1px;
  }

  /* Main Tabs and Tab Containers */
  .workspace .mod-root {
    .workspace-tab-header-container-inner {
      margin-top: var(--theme-compact-gap);
    }
  }

  /* Sidebar icon containes */
  .mod-sidedock .workspace-tab-header-container {
    .workspace-tab-header-container-inner {
      margin-top: var(--theme-compact-gap);
    }
  }

  /* Left sidedock icons */
  &.is-hidden-frameless:not(.is-fullscreen) {
    &.mod-macos {
      --frame-left-space: 70px;
    }

    .mod-sidedock .workspace-tab-header-container {
      padding-left: var(--theme-compact-gap);
    }
  }

  /* Undo override for top left sidedock tab head */
  &.is-hidden-frameless:not(.is-fullscreen)
    .workspace-tabs.mod-top-left-space
    .workspace-tab-header-container {
    padding-left: calc(var(--theme-compact-gap) + var(--frame-left-space));
  }

  /* View header, make skinny */
  .view-header {
    --view-header-height: 42px;
    --cmdr-spacing: 0px;

    svg {
      /* Impossible to resize outside of snippets apparently  */
      width: 16px !important;
    }
  }

  &.theme-ultra-compact .view-header {
    --view-header-height: 36px;
    /* border: none; */
  }

  /* Make pdf toolbar smaller  */
  .pdf-toolbar {
    --swatch-width: 20px !important;

    input {
      height: var(--swatch-width) !important;
    }
  }

  /* Compact Statusbar */
  .status-bar {
    padding: 2px;
  }

  &.theme-ultra-compact .status-bar {
    padding: 0px;
  }

  /* Sidebar Toggle Buttons  */
  .sidebar-toggle-button.mod-right,
  .sidebar-toggle-button.mod-left {
    margin-top: 1px;
    padding: 4px 0;

    .clickable-icon {
      padding: 8px 6px;
      height: 100%;
    }
    svg {
      width: 18px;
      height: auto;
    }
  }

  /* Properties, remove "properties" heading  */
  div.metadata-properties-heading {
    display: none;
  }
}
