/* Big titles  */
.wide-tabs {
  --tab-width: 375px;
  --tab-max-width: 800px;
}

/* View Header Styles */
.vh-stealth:not(.is-phone) {
  .workspace-leaf .view-header {
    border: none;
  }
}

/* Embed styles */
.embeds-conform,
.embeds-stealth {
  .markdown-embed {
    border: none;
    padding: none;
    margin: none;
  }

  &.embeds-conform {
    .markdown-embed {
      padding: 10px 5px;
      border-radius: 10px;

      border: 1px solid transparent;
      transition: 200ms ease-out;
      transition-property: backround outline;
      &:hover {
        background: var(--color-base-05);
        border-color: var(--background-modifier-border);
      }
    }
  }

  .inline-embed > .markdown-embed-content > .markdown-source-view,
  .inline-embed > .markdown-embed-content > .markdown-preview-view {
    padding: 0;
  }
  .markdown-preview-sizer,
  .markdown-preview-section {
    min-height: 0 !important;
  }
}

/* Task Genius Progress Bars */
.progress-bar-inline-background {
  background: none !important;
  border: 1px solid var(--checkbox-border-color);
  opacity: 0.5;
}

/* DFW full width  */
.distraction-free-mode {
  .workspace-leaf-content {
    margin: 0 !important;
    max-width: none !important;

    .view-content {
      width: 100%;
    }
  }
  .pdf-toolbar {
    display: none;
  }
}
