/* Big titles  */
.wide-tabs {
  --tab-width: 375px;
  --tab-max-width: 800px;
}

/* View Header Styles */
.vh-stealth:not(.is-phone) .mod-root .workspace-leaf .view-header {
  border: none;
}

/* Embed styles */
.embeds-conform .markdown-embed,
.embeds-stealth .markdown-embed {
  border: none;
  padding: none;
  margin: none;
}

.embeds-conform .inline-embed > .markdown-embed-content > .markdown-source-view,
.embeds-stealth
  .inline-embed
  > .markdown-embed-content
  > .markdown-preview-view {
  padding: 0;
}

.embeds-conform {
  .markdown-embed {
    padding: 10px 5px;
    border-radius: 10px;

    border: 1px solid transparent;
    transition: 200ms ease-out;
    transition-property: backround outline;
    &:hover {
      background: var(--color-base-05);
      border-color: var(--background-modifier-border);
    }
  }
}

/* Task Genius Progress Bars */
.progress-bar-inline-background {
  background: none !important;
  border: 1px solid var(--checkbox-border-color);
  opacity: 0.5;
}

.obsidian-vertical-tabs-container
  .tree-item.is-tab.is-highlighted
  .tree-item-self {
  background: var(--background-modifier-hover);
}

body:not(.is-grabbing) .tree-item-self.is-active,
.tree-item-self.is-active {
  background: var(--background-primary-alt);
}

.tree-item-self:hover {
  background: var(--background-primary-alt) !important;
}
