/* @settings
name: Sanctuary Redux 
id: sanctuary-redux
settings:
  -
    id: main-color
    title: Theme Color
    description: "The domiannt color of your theme. (Dark Theme only)"
    type: class-select
    default: red-passion
    options:
      -
        label: Red
        value: red-passion
      -
        label: Orange
        value: orange-sunset
      -
        label: Yellow
        value: yellow-glow
      -
        label: Green
        value: green-serenity
      -
        label: Indigo
        value: indigo-harmony
      -
        label: Blue
        value: blue-ocean
      -
        label: Purple
        value: purple-mystic
      -
        label: White (Grayish)
        value: white-dawn
      -
        label: Black
        value: black-night
  -
    id: color-intensity
    title: Intensity
    description: "The intensity of the main color across your interface. (Dark Theme only)"
    type: class-select
    default: intensity-twilight
    options:
      -
        label: Abyss
        value: intensity-abyss
      -
        label: Twilight
        value: intensity-twilight
      -
        label: Mist
        value: intensity-mist
      -
        label: Dawn
        value: intensity-dawn
      -
        label: Overcast
        value: intensity-overcast
  -
    id: heading-fonts
    title: Fonts
    type: heading
    level: 1
    collapsed: true
  -
    id: font-text
    title: Text Font
    description: Font used for text in the editor
    type: variable-text
    default: 'Computer Modern'
  -
    id: font-interface-theme
    title: Interface Font
    description: Font used for UI elements
    type: variable-text
    default: 'Jetbrains Mono'
  -
    id: font-monospace-theme
    title: Monospace Font
    description: Font used code blocks and inline code
    type: variable-text
    default: 'Jetbrains Mono'
  -
    id: font-callout-theme
    title: Callout Font
    description: Font used within callouts
    type: variable-text
    default: 'Computer Modern'
  - 
    id: theme-tweaks
    title: Tweaks
    type: heading
    level: 1
    collapsed: true
  - 
    id: theme-compact-setting
    title: Compact
    description: Makes tabs and headers compact. Inspired by Replete's Minimal Theme Snippets. *Recommended - Compact*
    type: class-select
    default: theme-expanded
    options:
      -
        label: Default
        value: theme-expanded
      -
        label: Compact
        value: theme-compact
      -
        label: Ultra Compact
        value: theme-ultra-compact
  - 
    id: embed-style
    title: Embed Styling
    description: Changes how much embds are distinguished amongst other blocks of text.
    type: class-select
    default: embeds-default
    options:
      -
        label: Obsidian Default
        value: embeds-default
      -
        label: Relaxed (Show Outline on hover)
        value: embeds-conform
      -
        label: Stealth (Appear Inline)
        value: embeds-stealth
  - 
    id: wide-tabs
    title: Wide Tabs
    description: Let tabs be really wide until the tab container is full. They will still shrink.
    type: class-toggle
*/
