/*
* Filename: theme.css
* Author: Elevict
* Last Updated: 2024-07-12
*/

/* ============== Bolder Bold ============== */
strong,
.cm-strong {
  font-weight: 900;
}

/* ============== Headings ============== */
body
  .markdown-rendered
  .markdown-preview-section
  > div
  > :is(h1, h2, h3, h4, h5, h6, p),
body .markdown-source-view.mod-cm6 .HyperMD-header,
body
  .markdown-rendered
  .markdown-preview-section
  > div:has(+ div > :is(h1, h2, h3, h4, h5, h6))
  > :last-child,
body
  .markdown-rendered
  .markdown-preview-section
  > div:has(:is(h1, h2, h3, h4, h5, h6, p))
  + div
  > :first-child {
  margin-block: var(--unified-heading-space);
}

body
  .markdown-rendered
  .markdown-preview-section
  > div:has(+ div > :is(h1, h2, h3, h4, h5, h6))
  > :last-child {
  margin-bottom: 18px;
}

/* ============== Theme Colors ============== */

/* Default Base Color */
.theme-dark,
.theme-light,
.purple-mystic {
  --hue-bg: 265;
  --hue-fg: 265;
  --sat-bg: 60%;
  --sat-fg: 100%;
  &.theme-light {
    --lum-fg: 50%;
    --lum-bg: 95%;
  }
}
.indigo-harmony {
  --hue-bg: 238;
  --hue-fg: 255;
  --sat-bg: 60%;
  --sat-fg: 100%;
  &.theme-light {
    --lum-fg: 50%;
    --lum-bg: 95%;
  }
}

.carmotte-lust {
  --hue-bg: 342;
  --hue-fg: 320;
  --sat-bg: 60%;
  --sat-fg: 100%;
  &.theme-light {
    --lum-fg: 50%;
    --lum-bg: 95%;
  }
}

.red-passion {
  --hue-bg: 340;
  --hue-fg: 320;
  --sat-bg: 60%;
  --sat-fg: 100%;
  &.theme-light {
    --lum-fg: 50%;
    --lum-bg: 95%;
  }
}
.orange-sunset {
  --hue-bg: 30;
  --hue-fg: 30;
  --sat-bg: 60%;
  --sat-fg: 100%;
  &.theme-light {
    --lum-fg: 50%;
    --lum-bg: 95%;
  }
}
.yellow-glow {
  --hue-bg: 60;
  --hue-fg: 60;
  --sat-bg: 60%;
  --sat-fg: 100%;
  &.theme-light {
    --lum-fg: 50%;
    --lum-bg: 95%;
  }
}
.green-serenity {
  --hue-bg: 120;
  --hue-fg: 120;
  --sat-bg: 60%;
  --sat-fg: 100%;
  &.theme-light {
    --lum-fg: 50%;
    --lum-bg: 95%;
  }
}
.blue-ocean {
  --hue-bg: 228;
  --hue-fg: 220;
  --sat-bg: 60%;
  --sat-fg: 100%;
  &.theme-light {
    --lum-fg: 50%;
    --lum-bg: 95%;
  }
}
.white-dawn {
  --hue-bg: 228;
  --hue-fg: 220;
  --sat-bg: 20%;
  --sat-fg: 20%;
  &.theme-light {
    --sat-bg: 30%;
    --sat-fg: 0%;
    --lum-bg: 90%;
    --lum-fg: 0%;
    &.intensity-abyss {
      --lum-bg: 100%;
    }
    &.intensity-dawn {
      --lum-bg: 80%;
    }
  }
}
.black-night {
  --hue-bg: 0;
  --hue-fg: 0;
  --sat-bg: 0%;
  --sat-fg: 0%;
  &.theme-light {
    --lum-fg: 20%;
    --lum-bg: 80%;
  }
}

/* Default Intensity */
.theme-dark,
.theme-light,
.intensity-twilight {
  --lum: 11%;
  /* Sierra's Choice: All backgroudns same color.  */
  --background-secondary: var(--color-base-00) !important;
}

.intensity-overcast {
  --lum: 26%;
  --background-modifier-border: var(--color-base-40) !important;
}

.intensity-dawn {
  --lum: 22%;
  --background-modifier-border: var(--color-base-30) !important;
}

.intensity-mist {
  --lum: 16%;
  /* --background-modifier-border: var(--color-base-20) !important; */
}

.intensity-abyss {
  --lum: 0%;
  --background-modifier-border: var(--color-base-40) !important;
}

body {
  /* ============== Default Font Variables ============== */
  --font-text: "Computer Modern", "Inter", Sans-Serif;
  --font-interface-theme: "Jetbrains Mono", "Inter", Sans-Serif;
  --font-monospace-theme: "Jetbrains Mono", "Source Code Pro", monospace;
  --font-callout-theme: "Computer Modern", "Sans-Serif";
  /* ============== Typography ============== */
  --unified-heading-space: 10px;
  --font-text-size: 10px;
  /* ============== Header Sizes ============== */
  --h1-size: calc(var(--font-text-size) + 8px);
  --h2-size: calc(var(--font-text-size) + 6px);
  --h3-size: calc(var(--font-text-size) + 4px);
  --h4-size: calc(var(--font-text-size) + 2px);
  --h5-size: calc(var(--font-text-size) + 1px);
  --h6-size: calc(var(--font-text-size));
}

.theme-light {
  --title-color: black;
}

.theme-dark {
  /* ============== Default Color Variables ============== */
  --black: #000;
  --white: #fff;
  --mint: #52eea3;
  --cyan: #51e1e9;
  --cool-cyan: #43cfea;
  --light-blue: #54b6f8;
  --blue: #437cf3;
  --blue-violet: #6f51f4;
  --violet: #9446f8;
  --purple: #c952ed;
  --magenta: #e54f9b;
  --hot-red: #e3365e;
  --cool-gray: #515768;
  /* ============== Default Font Variables ============== */
  --h1-color: hsl(var(--hue-bg), var(--sat-fg), 65%);
  --h2-color: hsl(var(--hue-bg), var(--sat-fg), 75%);
  --h3-color: hsl(var(--hue-bg), var(--sat-fg), 80%);
  --h4-color: hsl(var(--hue-bg), var(--sat-fg), 80%);
  --h5-color: hsl(var(--hue-bg), var(--sat-fg), 90%);
  --h6-color: hsl(var(--hue-bg), var(--sat-fg), 95%);
  /* ============== Background and Foreground Colors ============== */
  --background: hsl(var(--hue-bg), var(--sat-bg), var(--lum));
  --foreground: hsl(var(--hue-fg), var(--sat-fg), 82%);
  /* ============== General Theme Colors ============== */
  --background-primary: var(--color-base-00);
  --background-secondary: var(--color-base-10);
  --titlebar-background: var(--color-base-00);
  --titlebar-background-focused: var(--color-base-00);
  --scrollbar-thumb-bg: var(--color-base-30);
  --scrollbar-active-thumb-bg: var(--color-base-40);
  --table-border-color: var(--color-base-60);
  --header-title-color: hsl(var(--hue-bg), var(--sat-fg), 65%);
  --title-color: hsl(var(--hue-bg), var(--sat-fg), 65%);

  --color-base-00: color-mix(in srgb, var(--background) 25%, var(--black));
  --color-base-05: color-mix(in srgb, var(--background) 40%, var(--black));
  --color-base-10: color-mix(in srgb, var(--background) 50%, var(--black));
  --color-base-20: color-mix(in srgb, var(--background) 80%, var(--black));
  --color-base-25: color-mix(in srgb, var(--background) 80%, var(--black));
  --color-base-30: color-mix(in srgb, var(--background) 90%, var(--foreground));
  --color-base-35: color-mix(in srgb, var(--background) 95%, var(--foreground));
  --color-base-40: color-mix(in srgb, var(--background) 80%, var(--foreground));
  --color-base-50: color-mix(in srgb, var(--background) 60%, var(--foreground));
  --color-base-60: color-mix(in srgb, var(--background) 60%, var(--foreground));
  --color-base-70: color-mix(in srgb, var(--background) 30%, var(--foreground));
  --color-base-100: color-mix(in srgb, var(--background) 0%, var(--foreground));

  --text-normal: #faf4ed;
  --background-modifier-form-field: var(--color-base-20);
  --background-modifier-hover: var(--color-base-40);
  --background-modifier-border: var(--color-base-30);
  --nav-indentation-guide-color: var(--color-base-30);
  --indentation-guide-color: var(--color-base-30);
  --indentation-guide-color-active: var(--color-base-35);
  --slider-track-background: var(--text-accent);
  --slider-track-height: 3px;
  --checkbox-color: var(--text-accent);

  --text-highlight-bg: color-mix(in srgb, var(--h1-color) 25%, transparent);
  --text-highlight-bg-active: color-mix(
    in srgb,
    var(--h1-color) 25%,
    transparent
  );
}

/* ============== Gradient Callout Settings ============== */
div.callout {
  font-family: var(--font-callout-theme);
  mix-blend-mode: normal;
  border: solid 2px;
  border-radius: 6px;
  border-color: rgba(var(--callout-color), 0.3);
  /* Adjust Title */
  .callout-title-inner {
    font-weight: revert;
    color: rgb(var(--callout-color));
  }
  /* Vertically centers the p element */
  .callout-content {
    align-items: center;
  }

  /* Change color of table and bullet lists inside callout */
  --table-border-color: rgb(var(--callout-color));
  --table-header-border-color: rgb(var(--callout-color));
  --list-marker-color: rgb(var(--callout-color));
  --link-color: rgb(var(--callout-color));
  --bold-color: rgb(var(--callout-color));
}

/* ============== Tables ============== */
:root table {
  --table-border-radius: 10px;
  border-collapse: separate;
  border-spacing: 0;
}

/* Round the tables */
th:first-child {
  border-top-left-radius: var(--table-border-radius);
}
th:last-child {
  border-top-right-radius: var(--table-border-radius);
}
tr:last-child td:first-child {
  border-bottom-left-radius: var(--table-border-radius);
}
tr:last-child td:last-child {
  border-bottom-right-radius: var(--table-border-radius);
}
:root :is(td, th) {
  border-width: 0 var(--table-border-width) var(--table-border-width) 0;
}

.markdown-preview-view table {
  margin-left: auto !important;
  margin-right: auto !important;
}

/* ============== Inline Elements ============== */
div.inline-title {
  color: var(--title-color);
  margin-bottom: 0;
  /* Sierra's Choice: Removed font style  */
}

div.metadata-properties-heading {
  display: none;
}

/* ============== Images ============== */
img {
  display: block;
  margin: auto;
  max-width: 100%;
  border-radius: 6px;
}

/* ============== Blockquote ============== */
.markdown-rendered blockquote {
  border-left: 2px solid var(--text-accent);
}

/* ============== Calendar Styling ============== */
.view-content:has(#calendar-container) {
  padding: 30px 0px 0px 0px;
  .day {
    padding-top: 0;
    padding-bottom: 0;
  }
}
#calendar-container {
  padding: 0px 8px 8px 8px;
  border: solid 1px var(--color-base-30);
  border-radius: 20px;
  background: var(--color-base-00);
  width: 250px;
  margin: 0 auto; /* Center block elements horizontally */
  .year {
    color: var(--text-muted);
  }
  .day.today {
    color: var(--text-muted);
    font-weight: 700;
  }
  .day.adjacent-month {
    color: var(--tx2);
  }
  .weekend {
    background: var(--bg2, var(--color-base-20));
  }
}

/* ============== Header ============== */
.view-header-title,
.view-header-title-parent {
  color: var(--header-title-color);
}

/* ============== Indentation Guides ============== */
.markdown-rendered.show-indentation-guide li > ul::before,
.markdown-rendered.show-indentation-guide li > ol::before {
  border-color: transparent;
}

/* ============== Status Bar ============== */
.status-bar {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  transform: translate(-10px, -6px);
  border-radius: 8px;
  --status-bar-radius: 8px 8px 0 0;
  --status-bar-border-width: 1px 1px 0 1px;
  background: var(--background-secondary);
}

/* ============== Horizontal Rule ============== */
.markdown-preview-view hr,
.cm-line hr {
  border: none;
  border-bottom: 1px solid hsl(var(--hue-bg), var(--sat-fg), 65%);
  height: 30px;
}

/* ============== Tabs ============== */
body {
  --tab-background-active: var(--background-primary);
  --tab-font-size: 10pt;
  --tab-font-weight: inherit;
  --tab-outline-color: var(--divider-color);
  --tab-outline-width: 1px;
  --tab-curve: 10px;
  --tab-width: 180px;
  --tab-max-width: 400px;
}

/* Tabs a bit more snug  */
.workspace-tab-header-container-inner {
  margin: 2px -5px -1px;
}

/* Remove backgrounds on the sides */
.workspace,
.workspace-split,
.workspace-tabs .workspace-leaf,
.workspace-ribbon,
.workspace-split.mod-root,
.workspace-tab-header-container,
.workspace-split.mod-root .view-content {
  /* remove background as parent will be the one to have it instead */
  background: none;
}

/* Recolor the background */
body,
body.is-translucent {
  background-color: var(--background-secondary);
}

body:not(.is-mobile)
  .workspace-split.mod-left-split
  .workspace-sidedock-vault-profile {
  border-radius: 10px;
  border: solid 1px var(--color-base-30);
  padding: 5px;
  margin: 0px 0px 5px 0px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  font-family: var(--font-interface-theme);
  align-self: center; /* Center the element in the flex container */
  width: calc(100% - 15px);
}

/*  =============== Icons in options =============== */
/* Options icons, credit to Border theme */
body:not(.setting-item-title-icon-remove):not(.is-phone)
  .vertical-tab-header-group
  .vertical-tab-header-group-title {
  display: flex;
  align-items: center;
}
body:not(.setting-item-title-icon-remove):not(.is-phone)
  .vertical-tab-header-group:nth-last-of-type(3)
  .vertical-tab-header-group-title::before {
  content: " ";
  width: 16px;
  height: 16px;
  background-color: currentColor;
  margin-right: 4px;
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cg clip-path='url(%23a)'%3e%3cpath fill='black' d='m14.476 6.987-1.49-.445a5.177 5.177 0 0 0-.422-1.035l.73-1.365a.27.27 0 0 0-.05-.32l-1.062-1.066a.271.271 0 0 0-.32-.05l-1.355.725a5.165 5.165 0 0 0-1.05-.444l-.444-1.471a.271.271 0 0 0-.262-.183H7.25a.271.271 0 0 0-.258.191l-.444 1.467a5.169 5.169 0 0 0-1.058.445l-1.333-.72a.271.271 0 0 0-.32.048l-1.08 1.054a.271.271 0 0 0-.05.32l.72 1.333a5.169 5.169 0 0 0-.444 1.053l-1.47.445a.271.271 0 0 0-.192.258v1.502a.271.271 0 0 0 .191.258l1.48.444c.11.36.26.708.445 1.036l-.73 1.395a.271.271 0 0 0 .05.32l1.062 1.062a.271.271 0 0 0 .32.05l1.373-.734a5.25 5.25 0 0 0 1.022.418l.445 1.498a.27.27 0 0 0 .258.19h1.502a.271.271 0 0 0 .258-.19l.444-1.503a5.17 5.17 0 0 0 1.013-.417l1.383.737a.27.27 0 0 0 .32-.049l1.062-1.062a.27.27 0 0 0 .049-.32l-.738-1.378a5.17 5.17 0 0 0 .422-1.017l1.498-.445a.271.271 0 0 0 .191-.258V7.25a.271.271 0 0 0-.164-.262ZM8 10.444a2.444 2.444 0 1 1 0-4.888 2.444 2.444 0 0 1 0 4.888Z'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='a'%3e%3cpath fill='white' d='M0 0h16v16H0z'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
}
body:not(.setting-item-title-icon-remove):not(.is-phone)
  .vertical-tab-header-group:nth-last-of-type(2)
  .vertical-tab-header-group-title::before {
  content: " ";
  width: 16px;
  height: 16px;
  background-color: currentColor;
  margin-right: 4px;
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cg clip-path='url(%23a)'%3e%3cpath fill='black' d='M13.249 7.111h-.36V3.924A.889.889 0 0 0 12 3.036H9.333A2.284 2.284 0 0 0 7.338.889a2.222 2.222 0 0 0-2.45 2.147h-3.11a.889.889 0 0 0-.89.888v3.632h1.25A1.391 1.391 0 0 1 3.556 8.75a1.333 1.333 0 0 1-.347 1.027 1.334 1.334 0 0 1-.987.444H.89v3.925a.889.889 0 0 0 .889.889H12a.889.889 0 0 0 .889-.89v-2.59h.444a2.223 2.223 0 0 0 2.223-2.45 2.29 2.29 0 0 0-2.307-1.995Z'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='a'%3e%3cpath fill='white' d='M0 0h16v16H0z'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
}
body:not(.setting-item-title-icon-remove):not(.is-phone)
  .vertical-tab-header-group:nth-last-of-type(1)
  .vertical-tab-header-group-title::before {
  content: " ";
  width: 16px;
  height: 16px;
  background-color: currentColor;
  margin-right: 4px;
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cg fill='black' clip-path='url(%23a)'%3e%3cpath d='M13.249 7.111h-.36v-.267H9.88a1.636 1.636 0 0 1-1.436-2.448l.89-1.467A2.276 2.276 0 0 0 7.337.889a2.222 2.222 0 0 0-2.45 2.147h-3.11a.889.889 0 0 0-.89.888v3.632h1.25A1.391 1.391 0 0 1 3.556 8.75a1.333 1.333 0 0 1-.347 1.027 1.334 1.334 0 0 1-.987.444H.89v3.925a.889.889 0 0 0 .889.889H12a.889.889 0 0 0 .889-.89v-2.59h.444a2.223 2.223 0 0 0 2.223-2.45 2.29 2.29 0 0 0-2.307-1.995Z'/%3e%3cpath d='M11.933.507 9.391 4.889a.569.569 0 0 0 .489.889h5.089a.569.569 0 0 0 .489-.89L12.916.508a.57.57 0 0 0-.983 0Z'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='a'%3e%3cpath fill='white' d='M0 0h16v16H0z'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
}

/*  =============== Style settings plugin =============== */

/* Style settings spacing */
.style-settings-container:empty {
  display: none;
}
.style-settings-heading[data-level] {
  padding-top: var(--size-4-2);
  padding-bottom: var(--size-4-2);
}
.style-settings-heading[data-level="0"]:not(.is-collapsed) {
  margin-bottom: var(--size-4-2);
}

/* Remove borders and format margin bottom*/
.style-settings-heading:not([data-level="0"]) {
  border-top: none;
  border-bottom: none;
}
.style-settings-heading:not([data-level="0"], .is-collapsed) {
  margin-bottom: 0px;
}

/* Set background and borders */
.style-settings-heading:not([data-level="0"]) + .style-settings-container {
  border: 1px solid var(--color-base-30);
  border-radius: 16px;
  padding: var(--size-4-2);
  padding-left: var(--size-4-6);
  background-color: color-mix(in srgb, var(--color-base-10) 70%, transparent);
  overflow-x: hidden;
}

/* Add borders to style setting for better visability */
.style-settings-heading[data-level="0"]:not(.is-collapsed)
  + .style-settings-container {
  border-bottom: 1px solid var(--background-modifier-border);
}
.style-settings-heading[data-level="1"] {
  border-top-color: var(--background-modifier-border);
}
.style-settings-heading:is(
  [data-id="anuppuccin-theme-settings"],
  [data-id="anuppuccin-theme-settings-extended"]
) {
  border-color: var(--background-modifier-border);
}
.style-settings-heading:is(
    [data-id="anuppuccin-theme-settings"],
    [data-id="anuppuccin-theme-settings-extended"]
  ):not(.is-collapsed)
  + .style-settings-container {
  border-color: var(--background-modifier-border);
}
.style-settings-heading:is(
    [data-id="anuppuccin-theme-settings"],
    [data-id="anuppuccin-theme-settings-extended"]
  )
  .setting-item-name {
  color: var(--background-modifier-border);
}
.style-settings-heading:not([data-level="0"]):nth-child(-n + 2),
.style-settings-heading:not([data-level="0"], .is-collapsed)
  + .style-settings-container
  + .style-settings-heading,
.style-settings-container .setting-item + .setting-item-heading {
  border-top-width: 0;
}

/*  =============== Editor =============== */
/* Remove borders on sidebars and headers */
.workspace-ribbon,
.workspace-tab-header-container {
  border: none;
}

/* Remove fade in view header */
.mod-fade:not(.mod-at-end):after {
  display: none;
}

/* Set editor border and radius */
.workspace-fake-target-overlay:not(.is-in-sidebar)
  .workspace-tabs
  .workspace-leaf,
.mod-root .workspace-tabs .workspace-leaf {
  border-radius: 20px;
  border: solid 1px var(--color-base-30);
}

/* Banner plugin set images to round */
.markdown-preview-view img:not([width]),
.markdown-rendered img:not([width]) {
  border-radius: 16px;
}

/* Center the editor */
.markdown-preview-view {
  width: calc(100% - 24px); /* Adjust width to account for margins */
  margin: 0 auto; /* Center content horizontally */
}

/* Center the header and revamp it */
.workspace-leaf .view-header {
  border-radius: 16px;
  background: var(--background-secondary);
  width: calc(
    100% - 6px
  ); /* Make the width smaller than the parent container */
  height: 46px; /* Make the height smaller than the parent container */
  margin: 3px auto; /* Center the box horizontally and vertically */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  border: solid 1px var(--color-base-30);
}

/*  =============== Tabs and Icons =============== */
/* Active tab behavior */
.workspace .mod-root .workspace-tab-header.is-active {
  border-radius: 10px 10px 0px 0px;
  border: solid 1px var(--color-base-30);
  z-index: 10;
  height: calc(100% + 6px); /* Increase the height */
}

/* Inactive tabs */
.mod-root .workspace-tab-header:not(.is-active.workspace-tab-header) {
  background-color: var(--inactive-tab-background);
  .workspace-tab-header-inner {
    border-radius: 10px 10px 0px 0px;
    border: solid 1px var(--color-base-30);
    z-index: 10;
    height: calc(100% + 6px); /* Increase the height */
    padding-bottom: 4px;
  }
}

/* Stacked tabs */
.workspace-tabs.mod-stacked .workspace-tab-header-inner {
  border: 1px solid var(--color-base-50);
  border-radius: 1000px;
}

/* Remove lines in-between tabs */
.workspace .mod-root .workspace-tab-header-inner::after {
  display: none;
}

/* Remove resize borders on left and right*/
.workspace-split.mod-left-split > .workspace-leaf-resize-handle,
.workspace-split.mod-right-split > .workspace-leaf-resize-handle {
  border: none;
}

/* Color of header container at top */
.workspace-tab-header-container {
  background-color: var(--tab-container-background);
  border-bottom: 0;
}

/* Container under icons */
.mod-left-split .workspace-tab-header-container-inner,
.mod-right-split .workspace-tab-header-container-inner {
  padding-bottom: 0;
}

/* All icons */
.mod-left-split .workspace-tab-header,
.mod-right-split .workspace-tab-header,
.mod-left-split .workspace-tab-header:hover,
.mod-right-split .workspace-tab-header:hover {
  border: 1px solid var(--color-base-40);
  border-radius: 10px;
}

/* The icons that are active */
.mod-left-split .workspace-tab-header.is-active,
.mod-right-split .workspace-tab-header.is-active,
.mod-left-split .workspace-tab-header.is-active:hover,
.mod-right-split .workspace-tab-header.is-active:hover {
  background-color: var(--color-base-30);
  border: 1px solid var(--color-base-40);
  border-radius: 10px;
}

/* Fixes strange border at the upper left */
.sidebar-toggle-button.mod-left {
  /* background-color: var(--background-primary-alt); */
  height: var(--header-height);
}

/* Adds border to the left */
.workspace-ribbon.mod-left {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-right-color: var(--divider-color);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: var(--divider-color);
  border-top-style: solid;
  border-top-width: 1px;
  background: var(--background-primary);

  /* Prevent borders from overlapping, a choice */
  /* margin-right: 1px; */

  /* Remove border above ribbon */
  &::before {
    border: none;
  }
}

/* Remove border dividing two editors */
.workspace-split.mod-vertical > * > .workspace-leaf-resize-handle,
.workspace-split.mod-left-split > .workspace-leaf-resize-handle {
  border: transparent;
}
