/*
* Filename: theme.css
* Author: Elevict
* Last Updated: 2024-07-12
*/

/* ============== Bolder Bold ============== */
strong,
.cm-strong {
  font-weight: 900;
}

/* ============== Headings ============== */
body
  .markdown-rendered
  .markdown-preview-section
  > div
  > :is(h1, h2, h3, h4, h5, h6, p),
body .markdown-source-view.mod-cm6 .HyperMD-header,
body
  .markdown-rendered
  .markdown-preview-section
  > div:has(+ div > :is(h1, h2, h3, h4, h5, h6))
  > :last-child,
body
  .markdown-rendered
  .markdown-preview-section
  > div:has(:is(h1, h2, h3, h4, h5, h6, p))
  + div
  > :first-child {
  margin-block: var(--unified-heading-space);
}

body
  .markdown-rendered
  .markdown-preview-section
  > div:has(+ div > :is(h1, h2, h3, h4, h5, h6))
  > :last-child {
  margin-bottom: 18px;
}

/* ============== Gradient Callout Settings ============== */
div.callout {
  font-family: var(--font-callout-theme);
  mix-blend-mode: normal;
  border: solid 2px;
  border-radius: 6px;
  border-color: rgba(var(--callout-color), 0.3);
  /* Adjust Title */
  .callout-title-inner {
    font-weight: revert;
    color: rgb(var(--callout-color));
  }
  /* Vertically centers the p element */
  .callout-content {
    align-items: center;
  }

  /* Change color of table and bullet lists inside callout */
  --table-border-color: rgb(var(--callout-color));
  --table-header-border-color: rgb(var(--callout-color));
  --list-marker-color: rgb(var(--callout-color));
  --link-color: rgb(var(--callout-color));
  --bold-color: rgb(var(--callout-color));
}

/* ============== Tables ============== */
:root table {
  --table-border-radius: 10px;
  border-collapse: separate;
  border-spacing: 0;
}

/* Round the tables */
th:first-child {
  border-top-left-radius: var(--table-border-radius);
}
th:last-child {
  border-top-right-radius: var(--table-border-radius);
}
tr:last-child td:first-child {
  border-bottom-left-radius: var(--table-border-radius);
}
tr:last-child td:last-child {
  border-bottom-right-radius: var(--table-border-radius);
}
:root :is(td, th) {
  border-width: 0 var(--table-border-width) var(--table-border-width) 0;
}

.markdown-preview-view table {
  margin-left: auto !important;
  margin-right: auto !important;
}

/* ============== Inline Elements ============== */
div.inline-title {
  color: var(--title-color);
  /* margin-bottom: 4px; */
  /* Redux: Removed font style  */
}

/* ============== Images ============== */
img {
  display: block;
  margin: auto;
  max-width: 100%;
  border-radius: 6px;
}

/* ============== Blockquote ============== */
.markdown-rendered blockquote {
  border-left: 2px solid var(--text-accent);
}

/* ============== Calendar Styling ============== */
.view-content:has(#calendar-container) {
  padding: 30px 0px 0px 0px;
  .day {
    padding-top: 0;
    padding-bottom: 0;
  }
}
#calendar-container {
  padding: 0px 8px 8px 8px;
  border: solid 1px var(--background-modifier-border);
  border-radius: 20px;
  background: var(--color-base-00);
  max-width: 270px;
  margin: 0 auto; /* Center block elements horizontally */
  .year {
    color: var(--text-muted);
  }
  .day.today {
    color: var(--text-muted);
    font-weight: 700;
  }
  .day.adjacent-month {
    color: var(--tx2);
  }
  .weekend {
    background: var(--bg2, var(--color-base-20));
  }
}

/* ============== Header ============== */
.view-header-title,
.view-header-title-parent {
  color: var(--header-title-color);
}

/* ============== Indentation Guides ============== */
.markdown-rendered.show-indentation-guide li > ul::before,
.markdown-rendered.show-indentation-guide li > ol::before {
  border-color: transparent;
}

/* ============== Status Bar ============== */
.status-bar {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  transform: translate(-10px, -6px);
  border-radius: 8px;
  --status-bar-radius: 8px 8px 0 0;
  --status-bar-border-width: 1px 1px 0 1px;
  background: var(--background-secondary);
}

/* ============== Horizontal Rule ============== */
.markdown-preview-view hr,
.cm-line hr {
  border: none;
  border-bottom: 1px solid hsl(var(--hue-bg), var(--sat-fg), 65%);
  height: 30px;
}

/*  =============== Editor =============== */

body:not(.is-mobile) .view-content {
  border-radius: 16px;
  width: calc(100% - 6px);
  margin: 0 auto;
}

/* Remove borders on sidebars and headers */
.workspace-ribbon,
.workspace-tab-header-container {
  border: none;
}

/* Remove fade in view header */
.mod-fade:not(.mod-at-end):after {
  display: none;
}

/* Set editor border and radius */
.workspace-fake-target-overlay:not(.is-in-sidebar)
  .workspace-tabs
  .workspace-leaf,
.mod-root .workspace-tabs .workspace-leaf {
  border-radius: 20px;
  border: solid 1px var(--background-modifier-border);
}

/* Banner plugin set images to round */
.markdown-preview-view img:not([width]),
.markdown-rendered img:not([width]) {
  border-radius: 16px;
}

/* Center the editor */
.markdown-preview-view {
  /* Redux: Remove any border from the view   */
}

/* Center the header and revamp it */

body {
  --view-header-height: 46px;
}

.workspace-leaf .view-header {
  width: calc(
    100% - 6px
  ); /* Make the width smaller than the parent container */
  height: var(--view-header-height);
  max-height: var(--view-header-height);
  margin: 3px; /* Center the box horizontally and vertically */

  display: flex;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  border: solid 1px var(--background-modifier-border);
  border-radius: 16px;
  background: var(--background-secondary);
}

.is-mobile .view-header,
.is-tablet .view-header {
  /* padding: 12px !important; */

  .view-actions {
    gap: 4px;
    /* Condensed Icon spacing */
    .clickable-icon {
      border-radius: 0;
      transition: 0.2s color ease-in;
      padding-left: 2px;
      padding-right: 2px;
    }
  }

  .view-header-title-container {
    height: 100%;
  }
}

/*  =============== General =============== */

/* Recolor the background */
body,
body.is-translucent {
  background-color: var(--background-secondary);
}

body:not(.is-mobile)
  .workspace-split.mod-left-split
  .workspace-sidedock-vault-profile {
  border-radius: 10px;
  border: solid 1px var(--background-modifier-border);
  padding: 5px;
  margin: 0px 0px 5px 0px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  font-family: var(--font-interface-theme);
  align-self: center; /* Center the element in the flex container */
  width: calc(100% - 15px);
}

/*  =============== Tabs and Icons ============== */

body {
  --tab-background-active: var(--background-primary);
  --tab-font-size: 10pt;
  --tab-font-weight: inherit;
  --tab-outline-color: var(--divider-color);
  --tab-outline-width: 1px;
  --tab-curve: 10px;
  --tab-width: 240px;
  --tab-max-width: 400px;
}

/* Vertical decrease makes tabs appear "attached" to the frame 
 * Redux: Simplify styles for this by a lot; and make tabs a bit more snug */

.workspace-tab-header-container-inner {
  margin-left: 2px;
}

.workspace .mod-root .workspace-tab-header {
  border-radius: 10px 10px 0px 0px;
  padding: 0;

  /* Redux: no border on inactive tabs */
  border: solid 1px transparent;

  .workspace-tab-header-inner {
    border-radius: 10px 10px 0px 0px;
    padding: 0 9px;
  }
}

/* Active tab behavior */
.workspace .mod-root .workspace-tab-header.is-active {
  border: solid 1px var(--background-modifier-border);
  border-bottom: 0;
  z-index: 1;
  /* height: calc(100% + 6px); */
}

/* Inactive tabs */
.mod-root .workspace-tab-header:not(.is-active) {
  background-color: var(--inactive-tab-background);
}

/* Remove lines in-between tabs */
.workspace .mod-root .workspace-tab-header-inner::after {
  display: none;
}

/* Remove resize borders on left and right*/
.workspace-split.mod-left-split > .workspace-leaf-resize-handle,
.workspace-split.mod-right-split > .workspace-leaf-resize-handle {
  border: none;
}

/* Color of header container at top */
.workspace-tab-header-container {
  background-color: var(--tab-container-background);
  border-bottom: 0;
}

/* Container under icons */
.mod-left-split .workspace-tab-header-container-inner,
.mod-right-split .workspace-tab-header-container-inner {
  padding-bottom: 0;
}

/* All icons */
.mod-left-split .workspace-tab-header,
.mod-right-split .workspace-tab-header,
.mod-left-split .workspace-tab-header:hover,
.mod-right-split .workspace-tab-header:hover {
  border: 1px solid var(--color-base-40);
  border-radius: 10px;
}

/* The icons that are active */
.mod-left-split .workspace-tab-header.is-active,
.mod-right-split .workspace-tab-header.is-active,
.mod-left-split .workspace-tab-header.is-active:hover,
.mod-right-split .workspace-tab-header.is-active:hover {
  background-color: var(--color-base-30);
  border: 1px solid var(--color-base-40);
  border-radius: 10px;
}

/* Fixes strange border at the upper left */
.sidebar-toggle-button {
  /* background-color: var(--background-primary-alt); */
  /* height: 100%; */
  margin-top: 1px; /* Visually center toggle icons */
}

/* Adds border to the left */
.workspace-ribbon.mod-left {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-right-color: var(--divider-color);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: var(--divider-color);
  border-top-style: solid;
  border-top-width: 1px;
  background: var(--background-primary);

  /* Prevent borders from overlapping, a choice */
  /* margin-right: 1px; */

  /* Remove border above ribbon */
  &::before {
    border: none;
  }
}

/* Remove border dividing two editors */
.workspace-split.mod-vertical > * > .workspace-leaf-resize-handle,
.workspace-split.mod-left-split > .workspace-leaf-resize-handle {
  border: transparent;
}

/*  =============== Stacked tabs =============== */

/* Redux: Rounded stacked tabs */
.mod-stacked {
  .workspace-tab-container {
    /* border: solid 1px var(--background-modifier-border); */
    border-right: solid 1px var(--background-modifier-border);
    border-left: solid 1px var(--background-modifier-border);
    border-radius: 20px;
  }

  .workspace-leaf {
    border-radius: 0 !important;
    border: none !important;
  }

  .workspace-tab-header {
    border-radius: 20px 0 0 20px !important;
    border-right: none !important;
    border-top: none !important;
    border-bottom: none !important;
  }

  .workspace-tab-header-inner {
    width: min-content !important;
    border-radius: 18px 0 0 18px !important;
    border-right: none !important;
    border-top: none !important;
    border-bottom: none !important;
  }

  /* Active thicc */
  .workspace-tab-header.is-active {
    border-width: 3px;
    border-color: var(--color-base-50);
  }

  /* Sneakily hide the gap between a hidden tab header 
   * and the rounded corner of the next leaf.
   * Doesn't work for preloaded zero-width tabs,
   * but there are no known elegant alternatives */
  .workspace-tab-header:has(+ .workspace-leaf.is-hidden)
    .workspace-tab-header-inner::after {
    content: "";
    display: block;
    height: 20px;
    width: 20px;
    top: 0;
    right: 0;
    transform: translateX(100%);
    background: var(--background-primary);
    z-index: -1;
  }
}
