@use 'sass:math';

/* ============== Color System ============== */

@mixin linear ($name, $steps, $min, $max) {
  @for $i from 0 through $steps {
    $ratio: calc( $i / ( $steps ) );
    $linear: ($max - $min) * $ratio + $min;
    --#{$name}-#{$i}0: #{$linear};
  }
}
@mixin easeinquad ($name, $steps, $min, $max) {
  @for $i from 0 through $steps {
    $ratio: calc( $i / ( $steps ) );
    $easeinquad: ($max - $min) * ( $ratio * $ratio ) + $min;

    --#{$name}-#{$i}0: #{$easeinquad};
  }
}
@mixin easeoutquad($name, $steps, $min, $max) {
  @for $i from 0 through $steps {
    $ratio: calc( $i / ( $steps ) );
    $t: 1 - $ratio;
    $easeoutquad: ($max - $min) * (1 - $t * $t) + $min;
    --#{$name}-#{$i}0: #{$easeoutquad};
  }
}
@mixin easeoutsine($name, $steps, $min, $max) {
  @for $i from 0 through $steps {
    $ratio: calc( $i / ( $steps ) );
    $easeoutsine: ($max - $min) * math.sin(math.div($ratio * math.$pi, 2)) + $min;
    --#{$name}-#{$i}0: #{$easeoutsine};
  }
}

.theme-dark, .theme-light {
  @include linear(base-hue, 10, 293, 293);
  @include easeinquad(fg-hue,   10, 288, 293);
  --base-uplift: -0.03;

  &.violet-aroma {
    @include linear(base-hue, 10, 330, 330);
    @include linear(fg-hue,   10, 330, 330);
    --base-uplift: 0.01;
    --fg-uplift: -0.05;
  }
  &.pink-passion {
    @include linear(base-hue, 10, 355, 355);
    @include linear(fg-hue,   10, 365, 360);
    --base-uplift: -0.01;
  }
  &.red-blood {
    @include linear(base-hue, 10, 5, 10);
    @include linear(fg-hue,   10, 10, 20);
    --base-uplift: -0.01;
  }
  &.orange-sunset {
    @include linear(base-hue, 10, 75, 65);
    @include linear(fg-hue,   10, 0, 75);
    --base-uplift: 0.01;
  }
  &.yellow-glow {
    @include linear(base-hue, 10, 100, 90);
    @include easeoutquad(fg-hue, 10, 85, 105);
    --base-uplift: 0.04;
  }
  &.leaf-serenity {
    @include linear(base-hue, 10, 120, 120);
    @include linear(fg-hue,   10, 120, 120);
    --base-uplift: 0.04;
  }
  &.mint-spray {
    @include linear(base-hue, 10, 180, 180);
    @include linear(fg-hue,   10, 160, 180);
    --base-uplift: 0.02;
  }
  &.aqua-ocean {
    @include linear(base-hue, 10, 200, 218);
    @include linear(fg-hue,   10, 200, 200);
    --base-uplift: 0.01;
  }
  &.indigo-harmony {
    @include linear(base-hue, 10, 270, 285);
    @include linear(fg-hue,   10, 275, 270);
    --base-uplift: -0.04;
  }
}

.theme-dark {
  @include linear(base-lum,         10, 0.07, 1);
  @include easeoutsine(base-chroma, 10, 0.08, 0.3);
  @include linear(fg-lum,           10, 0.90, 0.55);
  @include easeoutsine(fg-chroma,   10, 0.02, 0.3);

  &.intensity-neon {
    @include linear(base-lum,         10, 0.06, 1.3);
    @include easeoutsine(base-chroma, 10, 0.08, 0.4);
    @include linear(fg-lum,           10, 1.2,  0.65);
    @include easeoutsine(fg-chroma,   10, 0.08, 0.35);
  }
  &.intensity-abyss {
    @include linear(base-lum,         10, 0.04, .925);
    @include easeoutsine(base-chroma, 10, 0.08, 0.35);
    @include linear(fg-lum,           10, 0.85, 0.45);
    @include easeoutsine(fg-chroma,   10, 0.06, 0.25);
  }
  &.intensity-mist {
    @include linear(base-lum,         10, 0.085, 1.1);
    @include easeoutsine(base-chroma, 10, 0.1,   0.35);
    @include linear(fg-lum,           10, 1,     0.55);
    @include easeoutsine(fg-chroma,   10, 0.08,  0.3);
  }
  &.intensity-dawn {
    @include linear(base-lum,         10, 0.11, 1.15);
    @include easeoutsine(base-chroma, 10, 0.1,  0.35);
  }
}
.theme-light {
  @include linear(base-lum,         10, 0.775, 0.1);
  @include easeoutsine(base-chroma, 10, 0.03,  0.4);
  @include linear(fg-lum,           10, 0.1,   0.5);
  @include easeoutsine(fg-chroma,   10, 0.1,   0.4);
    --base-uplift: 0.0 !important;
}

.grey-stone {
  @include linear(base-hue, 10, 220, 220);
  @include linear(fg-hue,   10, 220, 220);

  @include linear(base-chroma, 10, 0, 0);
  @include linear(fg-chroma,   10, 0, 0);

  &.theme-dark {
    @include linear(base-lum,    10, 0.12, 1);
    @include linear(fg-lum,      10, 0.95, 0.6);
    @include linear(base-chroma, 10, 0,    0);
    @include linear(fg-chroma,   10, 0,    0);
    &.intensity-abyss {
      @include linear(base-lum,    10, 0.07, .89);
      @include linear(fg-lum,      10, 0.85, 0.6);
      @include linear(base-chroma, 10, 0,    0);
      @include linear(fg-chroma,   10, 0,    0);
    }
    &.intensity-mist {
      @include linear(base-lum,    10, 0.15, 1);
      @include linear(fg-lum,      10, 0.95, 0.6);
      @include linear(base-chroma, 10, 0,    0);
      @include linear(fg-chroma,   10, 0,    0);
    }
    &.intensity-dawn {
      @include linear(base-lum,    10, 0.18, 1);
      @include linear(fg-lum,      10, 0.95, 0.6);
      @include linear(base-chroma, 10, 0,    0);
      @include linear(fg-chroma,   10, 0,    0);
    }
  }
}

@mixin colorscale($name, $steps) {
  @for $i from 0 through $steps {
    @if $i == 0 {
      --color-#{$name}-#{$i}0:  oklch(calc( var(--#{$name}-lum-#{$i}0) + var(--#{$name}-uplift, 0) )  var(--#{$name}-chroma-#{$i}0)  var(--#{$name}-hue-#{$i}0)); 
    } @else {
      --color-#{$name}-#{$i}0:  oklch(var(--#{$name}-lum-#{$i}0)  var(--#{$name}-chroma-#{$i}0)  var(--#{$name}-hue-#{$i}0)); 
    }
  }
}

.theme-dark, .theme-light {

  @include colorscale(base, 10);
  @include colorscale(fg, 8);

  /* ============== Background and Foreground Colors ============== */
  --background-primary: var(--color-base-00);
  --background-secondary: var(--color-base-00);

  /* ============== General Theme Colors ============== */
  --titlebar-background: var(--color-base-00);
  --titlebar-background-focused: var(--color-base-00);
  --titlebar-text-color: var(--color-base-50);
  --titlebar-text-color-focused: var(--color-fg-40);

  --scrollbar-thumb-bg: var(--color-base-30);
  --scrollbar-active-thumb-bg: var(--color-base-40);

  /* borders */
  --background-modifier-hover: var(--color-base-30);
  --background-modifier-border: var(--color-base-30);
  --background-modifier-border-hover: var(--color-base-30);

  /* interactiev colors  */
  --table-border-color: var(--color-base-30);
  --interactive-hover: var(--color-base-40);
  --background-modifier-form-field: var(--color-base-10);
  --nav-indentation-guide-color: var(--color-base-30);
  --indentation-guide-color: var(--color-base-30);

  --divider-color: var(--background-modifier-border);
  --indentation-guide-color-active: var(--color-base-30);

  /* ============== Default Font Variables ============== */

  --title-color: var(--color-fg-70);
  --text-normal: var(--color-fg-00);
  --header-title-color: var(--color-fg-40);
  --text-muted:         var(--color-fg-40);

  --h1-color: var(--color-fg-70);
  --h2-color: var(--color-fg-60);
  --h3-color: var(--color-fg-50);
  --h4-color: var(--color-fg-40);
  --h5-color: var(--color-fg-30);
  --h6-color: var(--color-fg-20);

}

/* Applied variables */

body {
  /* ============== Default Font Variables ============== */
  --font-text: "Computer Modern", "Inter", Sans-Serif;
  --font-interface-theme: "Ioskeley Mono", "Inter", Sans-Serif;
  --font-monospace-theme: "Ioskeley Mono", "Source Code Pro", monospace;
  --font-callout-theme: "Computer Modern", "Sans-Serif";
  /* ============== Typography ============== */
  --unified-heading-space: 8px;
  --font-text-size: 10px;
  /* ============== Header Sizes ============== */
  --h1-size: calc(var(--font-text-size) + 8px);
  --h2-size: calc(var(--font-text-size) + 6px);
  --h3-size: calc(var(--font-text-size) + 4px);
  --h4-size: calc(var(--font-text-size) + 2px);
  --h5-size: calc(var(--font-text-size) + 1px);
  --h6-size: calc(var(--font-text-size));

  --slider-track-background: var(--text-accent);
  --slider-track-height: 3px;
  --checkbox-color: var(--text-accent);

  --text-highlight-bg: color-mix(in srgb, var(--h1-color) 25%, transparent);
  --text-highlight-bg-active: color-mix(
    in srgb,
    var(--h1-color) 25%,
    transparent
  );

  /* misc vars for taste */
  --tab-radius: var(--radius-m);
  --radius-s: 6px;
  --menu-radius: 12px;
  --setting-items-radius: 16px;
  --button-radius: 8px;
  --input-radius: 8px;

  --accent-h: var(--acc-h) !important;
  --accent-s: var(--acc-s) !important;
  --accent-l: var(--acc-l) !important;
}

.theme-dark {
  /* ============== Default Color Variables ============== */
  --black: #000;
  --white: #fff;
  --mint: #52eea3;
  --cyan: #51e1e9;
  --cool-cyan: #43cfea;
  --light-blue: #54b6f8;
  --blue: #437cf3;
  --blue-violet: #6f51f4;
  --violet: #9446f8;
  --purple: #c952ed;
  --magenta: #e54f9b;
  --hot-red: #e3365e;
  --cool-gray: #515768;
}

