/* ============== Color System ============== */

/* Default Base Color */
.theme-dark,
.theme-light,
.purple-mystic {
  --hue-bg-base: 293;
  --hue-fg: 288;
}

.violet-aroma {
  --hue-bg-base: 330;
  --hue-fg: 330;
}

.pink-passion {
  --hue-bg-base: 0;
  --hue-fg: 5;
}

.red-blood {
  --hue-bg-base: 15;
  --hue-fg: 12;
}
.orange-sunset {
  --hue-bg-base: 55;
  --hue-fg: 55;
}
.yellow-glow {
  --hue-bg-base: 90;
  --hue-fg: 74;
}
.leaf-serenity {
  --hue-bg-base: 120;
  --hue-fg: 120;
}
.mint-spray {
  --hue-bg-base: 180;
  --hue-fg: 180;
}
.aqua-ocean {
  --hue-bg-base: 218;
  --hue-fg: 200;
}
.indigo-harmony {
  --hue-bg-base: 272;
  --hue-fg: 272;
}

/* Default Intensity */
.theme-dark,
.theme-light,
.intensity-twilight {
  --base-lum: 0.05;
  --max-lum: 1;
  --base-chroma: 0.08;
  --max-chroma: 0.3;

  --base-fg-lum: 0.95;
  --max-fg-lum: 0.65;
  --base-fg-chroma: 0.01;
  --max-fg-chroma: 0.35;
}

.intensity-abyss {
  --base-lum: 0;
  --max-lum: 1;
  --base-chroma: 0.08;
  --max-chroma: 0.35;

  --base-fg-lum: 0.9;
  --max-fg-lum: 0.65;
  --base-fg-chroma: 0.05;
  --max-fg-chroma: 0.35;
}

.intensity-neon {
  --base-lum: 0;
  --max-lum: 1.3;
  --base-chroma: 0.08;
  --max-chroma: 0.4;

  --base-fg-lum: 1.2;
  --max-fg-lum: 0.65;
  --base-fg-chroma: 0.08;
  --max-fg-chroma: 0.35;
}

.intensity-mist {
  --base-lum: 0.07;
  --max-lum: 1.1;
  --base-chroma: 0.1;
  --max-chroma: 0.35;
}

.intensity-dawn {
  --base-lum: 0.11;
  --max-lum: 1.15;
  --base-chroma: 0.1;
  --max-chroma: 0.35;
  /* --hue-bg-mod: -4; */
}

.grey-stone {
  --hue-bg-base: 228;
  --hue-fg: 220;

  /* Default Intensity */


  &.theme-dark,
  &.theme-light,
  &.intensity-twilight {
    --base-lum: 0.05;
    --max-lum: 1.1;
    --base-chroma: 0;
    --max-chroma: 0;

    --base-fg-lum: 0.95;
    --max-fg-lum: 0.6;
    --base-fg-chroma: 0;
    --max-fg-chroma: 0;
  }
  &.intensity-abyss {
    --base-lum: 0;
    --max-lum: 1;
    --base-chroma: 0;
    --max-chroma: 0;
  }


  &.intensity-mist {
    --base-lum: 0.08;
    --max-lum: 1.15;
    --base-chroma: 0;
    --max-chroma: 0;
  }

  &.intensity-dawn {
    --base-lum: 0.11;
    --max-lum: 1.2;
    --base-chroma: 0;
    --max-chroma: 0;
  }
}

.theme-dark {
  --hue-bg: calc(var(--hue-bg-base) + var(--hue-bg-mod, 0));
  /* BG color gen */
  --fac-lum: calc((var(--max-lum) - var(--base-lum)) / 10);

  --lum-00: calc(var(--base-lum) + (var(--fac-lum) * 0));
  --lum-10: calc(var(--base-lum) + (var(--fac-lum) * 1));
  --lum-20: calc(var(--base-lum) + (var(--fac-lum) * 2));
  --lum-30: calc(var(--base-lum) + (var(--fac-lum) * 3));
  --lum-40: calc(var(--base-lum) + (var(--fac-lum) * 4));
  --lum-50: calc(var(--base-lum) + (var(--fac-lum) * 5));
  --lum-60: calc(var(--base-lum) + (var(--fac-lum) * 6));
  --lum-70: calc(var(--base-lum) + (var(--fac-lum) * 7));
  --lum-80: calc(var(--base-lum) + (var(--fac-lum) * 8));
  --lum-90: calc(var(--base-lum) + (var(--fac-lum) * 9));
  --lum-100: calc(var(--base-lum) + (var(--fac-lum) * 10));

  --fac-chroma: calc((var(--max-chroma) - var(--base-chroma)) / 10);

  --chroma-00: calc(var(--base-chroma) + (var(--fac-chroma) * 0));
  --chroma-10: calc(var(--base-chroma) + (var(--fac-chroma) * 1));
  --chroma-20: calc(var(--base-chroma) + (var(--fac-chroma) * 2));
  --chroma-30: calc(var(--base-chroma) + (var(--fac-chroma) * 3));
  --chroma-40: calc(var(--base-chroma) + (var(--fac-chroma) * 4));
  --chroma-50: calc(var(--base-chroma) + (var(--fac-chroma) * 5));
  --chroma-60: calc(var(--base-chroma) + (var(--fac-chroma) * 6));
  --chroma-70: calc(var(--base-chroma) + (var(--fac-chroma) * 7));
  --chroma-80: calc(var(--base-chroma) + (var(--fac-chroma) * 8));
  --chroma-90: calc(var(--base-chroma) + (var(--fac-chroma) * 9));
  --chroma-100: calc(var(--base-chroma) + (var(--fac-chroma) * 10));

  --color-base-00: oklch(var(--lum-00) var(--chroma-00) var(--hue-bg));
  --color-base-10: oklch(var(--lum-10) var(--chroma-10) var(--hue-bg));
  --color-base-20: oklch(var(--lum-20) var(--chroma-20) var(--hue-bg));
  --color-base-30: oklch(var(--lum-30) var(--chroma-30) var(--hue-bg));
  --color-base-40: oklch(var(--lum-40) var(--chroma-40) var(--hue-bg));
  --color-base-50: oklch(var(--lum-50) var(--chroma-50) var(--hue-bg));
  --color-base-60: oklch(var(--lum-60) var(--chroma-60) var(--hue-bg));
  --color-base-70: oklch(var(--lum-70) var(--chroma-70) var(--hue-bg));
  --color-base-80: oklch(var(--lum-80) var(--chroma-80) var(--hue-bg));
  --color-base-90: oklch(var(--lum-90) var(--chroma-90) var(--hue-bg));
  --color-base-100: oklch(var(--lum-100) var(--chroma-100) var(--hue-bg));

  /* FG color gen  */

  --fac-fg-lum: calc((var(--max-fg-lum) - var(--base-fg-lum)) / 7);

  --lum-fg-00: calc(var(--base-fg-lum) + (var(--fac-fg-lum) * 0));
  --lum-fg-10: calc(var(--base-fg-lum) + (var(--fac-fg-lum) * 1));
  --lum-fg-20: calc(var(--base-fg-lum) + (var(--fac-fg-lum) * 2));
  --lum-fg-30: calc(var(--base-fg-lum) + (var(--fac-fg-lum) * 3));
  --lum-fg-40: calc(var(--base-fg-lum) + (var(--fac-fg-lum) * 4));
  --lum-fg-50: calc(var(--base-fg-lum) + (var(--fac-fg-lum) * 5));
  --lum-fg-60: calc(var(--base-fg-lum) + (var(--fac-fg-lum) * 6));
  --lum-fg-70: calc(var(--base-fg-lum) + (var(--fac-fg-lum) * 7));

  --fac-fg-chroma: calc((var(--max-fg-chroma) - var(--base-fg-chroma)) / 7);

  --chroma-fg-00: calc(var(--base-fg-chroma) + (var(--fac-fg-chroma) * 0));
  --chroma-fg-10: calc(var(--base-fg-chroma) + (var(--fac-fg-chroma) * 1));
  --chroma-fg-20: calc(var(--base-fg-chroma) + (var(--fac-fg-chroma) * 2));
  --chroma-fg-30: calc(var(--base-fg-chroma) + (var(--fac-fg-chroma) * 3));
  --chroma-fg-40: calc(var(--base-fg-chroma) + (var(--fac-fg-chroma) * 4));
  --chroma-fg-50: calc(var(--base-fg-chroma) + (var(--fac-fg-chroma) * 5));
  --chroma-fg-60: calc(var(--base-fg-chroma) + (var(--fac-fg-chroma) * 6));
  --chroma-fg-70: calc(var(--base-fg-chroma) + (var(--fac-fg-chroma) * 7));

  --color-fg-00: oklch(var(--lum-fg-00) var(--chroma-fg-00) var(--hue-fg));
  --color-fg-10: oklch(var(--lum-fg-10) var(--chroma-fg-10) var(--hue-fg));
  --color-fg-20: oklch(var(--lum-fg-20) var(--chroma-fg-20) var(--hue-fg));
  --color-fg-30: oklch(var(--lum-fg-30) var(--chroma-fg-30) var(--hue-fg));
  --color-fg-40: oklch(var(--lum-fg-40) var(--chroma-fg-40) var(--hue-fg));
  --color-fg-50: oklch(var(--lum-fg-50) var(--chroma-fg-50) var(--hue-fg));
  --color-fg-60: oklch(var(--lum-fg-60) var(--chroma-fg-60) var(--hue-fg));
  --color-fg-70: oklch(var(--lum-fg-70) var(--chroma-fg-70) var(--hue-fg));

  /* ============== Background and Foreground Colors ============== */
  --background-primary: var(--color-base-00);
  --background-secondary: var(--color-base-00);

  /* ============== General Theme Colors ============== */
  --titlebar-background: var(--color-base-00);
  --titlebar-background-focused: var(--color-base-00);
  --titlebar-text-color: var(--color-base-50);
  --titlebar-text-color-focused: var(--color-fg-40);

  --scrollbar-thumb-bg: var(--color-base-30);
  --scrollbar-active-thumb-bg: var(--color-base-40);

  /* borders */
  --background-modifier-hover: var(--color-base-30);
  --background-modifier-border: var(--color-base-30);
  --background-modifier-border-hover: var(--color-base-30);

  /* interactiev colors  */
  --table-border-color: var(--color-base-30);
  --interactive-hover: var(--color-base-40);
  --background-modifier-form-field: var(--color-base-10);
  --nav-indentation-guide-color: var(--color-base-30);
  --indentation-guide-color: var(--color-base-30);

  --divider-color: var(--background-modifier-border);
  --indentation-guide-color-active: var(--color-base-30);

  /* ============== Default Font Variables ============== */

  --title-color: var(--color-fg-70);
  --text-normal: var(--color-fg-00);
  --header-title-color: var(--color-fg-40);
  --text-muted:         var(--color-fg-40);

  --h1-color: var(--color-fg-70);
  --h2-color: var(--color-fg-60);
  --h3-color: var(--color-fg-50);
  --h4-color: var(--color-fg-40);
  --h5-color: var(--color-fg-30);
  --h6-color: var(--color-fg-20);
}

/* Applied variables */

body {
  /* ============== Default Font Variables ============== */
  --font-text: "Computer Modern", "Inter", Sans-Serif;
  --font-interface-theme: "Ioskeley Mono", "Inter", Sans-Serif;
  --font-monospace-theme: "Ioskeley Mono", "Source Code Pro", monospace;
  --font-callout-theme: "Computer Modern", "Sans-Serif";
  /* ============== Typography ============== */
  --unified-heading-space: 8px;
  --font-text-size: 10px;
  /* ============== Header Sizes ============== */
  --h1-size: calc(var(--font-text-size) + 8px);
  --h2-size: calc(var(--font-text-size) + 6px);
  --h3-size: calc(var(--font-text-size) + 4px);
  --h4-size: calc(var(--font-text-size) + 2px);
  --h5-size: calc(var(--font-text-size) + 1px);
  --h6-size: calc(var(--font-text-size));
}

.theme-dark {
  /* ============== Default Color Variables ============== */
  --black: #000;
  --white: #fff;
  --mint: #52eea3;
  --cyan: #51e1e9;
  --cool-cyan: #43cfea;
  --light-blue: #54b6f8;
  --blue: #437cf3;
  --blue-violet: #6f51f4;
  --violet: #9446f8;
  --purple: #c952ed;
  --magenta: #e54f9b;
  --hot-red: #e3365e;
  --cool-gray: #515768;

  --slider-track-background: var(--text-accent);
  --slider-track-height: 3px;
  --checkbox-color: var(--text-accent);

  --text-highlight-bg: color-mix(in srgb, var(--h1-color) 25%, transparent);
  --text-highlight-bg-active: color-mix(
    in srgb,
    var(--h1-color) 25%,
    transparent
  );

  /* misc vars for taste */
  --tab-radius: var(--radius-m);
  --radius-s: 6px;
  --menu-radius: 12px;
  --setting-items-radius: 16px;
  --button-radius: 8px;
  --input-radius: 8px;
}

